@{
    ViewBag.Title = "Умови";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Умови</title>
    <link rel="stylesheet" href="~/Content/css/scaffolding.css">
    <link rel="stylesheet" href="~/Content/css/calc.css">
    <link rel="stylesheet" href="~/Content/css/loading.css">
</head>
<body>
    <header class="main-header">
        <a href="?" class="main-header--logo logo">
            <img src="/Content/img/logo.svg" alt="Страховые услуги" class="logo--img">
            <h1 class="logo--text">Страхові послуги</h1>
        </a>

        <nav class="main-header--nav">
            <ul class="nav--list">
                <li class="nav--item"><a href="?" class="nav--link link link link__active">Главная</a></li>
                <li class="nav--item"><a href="offers.html" class="nav--link link">Акции и предложения</a></li>
                <li class="nav--item"><a href="faq.html" class="nav--link link">FAQ</a></li>
                <li class="nav--item"><a href="partners-rate.html" class="nav--link link">Страховые компании</a></li>
                <li class="nav--item"><a href="contacts.html" class="nav--link link">Контакты</a></li>
                <li>
                    <button tabindex="-1" class="nav--close popup--close">
                        Закрыть модальное окно
                        <svg class="popup--icon popup--icon__close" aria-hidden="true">
                            <use xlink:href="/Content/img/svgs.svg#close" />
                        </svg>
                    </button>
                </li>
            </ul>
            <button class="nav--mob popup--open">
                Мобильное меню
                <svg class="nav--icon popup--icon" aria-hidden="true">
                    <use xlink:href="/Content/img/svgs.svg#mob-menu" />
                </svg>
            </button>
        </nav>

        <div class="main-header--contacts contacts">
            <h2 class="visually-hidden">Наши контакты</h2>
            <ul class="contacts--list popup">
                <li class="popup--item">
                    <a tabindex="-1" href="mailto:yourmail@gmail.com" class="popup--link link">
                        <svg class="popup--icon__big popup--icon__big__email popup--icon" aria-hidden="true">
                            <use xlink:href="/Content/img/svgs.svg#email" />
                        </svg>
                    </a>
                </li>
                <li class="popup--item">
                    <a tabindex="-1" href="tel:+380446683888" class="popup--link link">
                        <svg class="popup--icon__big popup--icon__big__phone popup--icon" aria-hidden="true">
                            <use xlink:href="/Content/img/svgs.svg#phone" />
                        </svg>
                    </a>
                </li>
                <li>
                    <button tabindex="-1" class="contacts--close popup--close">
                        Закрыть модальное окно
                        <svg class="popup--icon__big popup--icon__close popup--icon" aria-hidden="true">
                            <use xlink:href="/Content/img/svgs.svg#close" />
                        </svg>
                    </button>
                </li>
            </ul>
            <button class="contacts--btn popup--open">
                <svg class="contacts--icon popup--icon" aria-hidden="true">
                    <use xlink:href="/Content/img/svgs.svg#phone" />
                </svg>
            </button>
        </div>

        <div class="main-header--geo geo">
            <h2 class="visually-hidden">Расположение наших офисов</h2>
            <ul class="geo--list popup">

                <li>
                    <button tabindex="-1" class="contacts--close popup--close">
                        Закрыть модальное окно
                        <svg class="popup--icon__big popup--icon__close popup--icon" aria-hidden="true">
                            <use xlink:href="/Content/img/svgs.svg#close" />
                        </svg>
                    </button>
                </li>
            </ul>
            <button class="geo--btn popup--open">
                <svg class="geo--icon popup--icon" aria-hidden="true">
                    <use xlink:href="/Content/img/svgs.svg#geo-open" />
                </svg>
            </button>
        </div>
    </header>

    <main class="calc container under-header">
        <div class="calc--wrap">
            <div id="calc" class="form"></div>
        </div>
        <div class="start-loading">
            <div class="spinner">
                <svg class="start-loading--svg" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="length" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
                </svg>
                <svg class="start-loading--svg" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
                </svg>
                <svg class="start-loading--svg" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
                </svg>
                <svg class="start-loading--svg" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
                </svg>
            </div>
            <p class="start-loading--text"></p>
        </div>
    </main>

    <footer class="main-footer">
        <div class="main-footer--col main-footer--col__left">
            <strong class="main-footer--header">Страхові послуги</strong>
            <p class="main-footer--text">© 2019 Все права защищены</p>
        </div>

        <div class="main-footer--col main-footer--col__right">
            <h2 class="visually-hidden">Карта сайта</h2>
            <ul class="main-footer--nav">
                <li class="main-footer--nav-item"><a href="?" class="main-footer--link">Главная</a></li>
                <li class="main-footer--nav-item"><a href="offers.html" class="main-footer--link">Акции и предложения</a></li>
                <li class="main-footer--nav-item"><a href="faq.html" class="main-footer--link">FAQ</a></li>
                <li class="main-footer--nav-item">
                    <a href="partners-rate.html" class="main-footer--link">Страховые компании</a>
                </li>
                <li class="main-footer--nav-item"><a href="contacts.html" class="main-footer--link">Контакты</a></li>
            </ul>
        </div>
    </footer>

    <script src="@Url.Content("~/Scripts/loading.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/build.js")" type="text/javascript"></script>
</body>
</html>